.quick-actions {
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    margin-top: 20px;
  }

  .add-member-button{
    padding: 15px;
    border-radius: 10px;
    border: none;
    background: #4d4dea;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
  }

  .dashboard-header{
    font-size: 20px;
    color: #2f2fd6;
    font-weight: bold;
    margin-bottom: 10px;

  }


  .quick-actions h3 {
    margin-bottom: 15px;
    font-size: 18px;
    color: #333;
  }
  
  .quick-actions-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 15px;
  }
  
  .action-btn {
    border-radius: 10px;
    border: none;
    background: #4d4dea;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  
  
  